<div style="background-image: url(/img/fondo5.png); background-size: cover; background-repeat: no-repeat;" >
<br><br>
<div class="row" style=" opacity: 0.8;">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5  rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 ">
          TRIVIA # 2 
        </h1>
      </div>

      <div class="card-body" >
        <form action="/pedircodigo2" method="POST">

              <fieldset>
  <legend>¿Cuál es el nombre comercial de Telmisartan en la línea de productos de Éticos? </legend>

  <div>
    <input type="radio" id="t2" name="t2" value="a"  />
    <label for="t2">Prilartan </label>
  </div>

  <div>
    <input type="radio" id="t2" name="t2" value="b" />
    <label for="t2">	Tempus</label>
  </div>
  <div>
    <input type="radio" id="t2" name="t2" value="c" />
    <label for="t2">Valtix </label>
  </div>
  <div>
    <input type="radio" id="t2" name="t2" value="d" />
    <label for="t2">MaxetibeL </label>
  </div>



</fieldset>
          <button class="btn btn-success btn-block" style="background-color: #e31e4d;">
            Aceptar
          </button>
        </form>
      </div>
    </div>
    <br><br>
  </div>
</div>
</div>