<div style="background-image: url(/img/fondo5.png); background-size: cover; background-repeat: no-repeat;" >
<br><br>
<div class="row" style=" opacity: 0.8;" >
  <div class="col-md-4 mx-auto" style="width: 50%;">
    <div class="card mt-5  rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 ">
          TRIVIA # 1 
        </h1>
      </div>

      <div class="card-body" >
        <form action="/pedircodigo1" method="POST">

              <fieldset>
  <legend>1.	¿Cual es el último lanzamiento de Levonam? </legend>

  <div>
    <input type="radio" id="t1" name="t1" value="a"  />
    <label for="t1">Levonam 2mg </label>
  </div>

  <div>
    <input type="radio" id="t1" name="t1" value="b" />
    <label for="t1">Levonam gotas </label>
  </div>
  <div>
    <input type="radio" id="t1" name="t1" value="c" />
    <label for="t1">Levonam 0.25 SL </label>
  </div>
  <div>
    <input type="radio" id="t1" name="t1" value="d" />
    <label for="t1">Levonam 0.50 SL </label>
  </div>



</fieldset>
          <button class="btn btn-success btn-block" style="background-color: #e31e4d;">
            Aceptar
          </button>
        </form>
      </div>
    </div>
    <br><br>
  </div>
</div>