<div style="background-image: url(/img/fondo5.png); background-size: cover; background-repeat: no-repeat;" >
<br><br>
<div class="row" style=" opacity: 0.8;">
  <div class="col-md-4 mx-auto" style="width: 40%;">
    <div class="card mt-5  rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 ">
          TRIVIA # 4 
        </h1>
      </div>

      <div class="card-body" >
        <form action="/pedircodigo4" method="POST">

              <fieldset>
  <legend>¿La molécula de Gastricet  es? </legend>

  <div>
    <input type="radio" id="t4" name="t4" value="a"  />
    <label for="t4">Omeprazol 20mg </label>
  </div>

  <div>
    <input type="radio" id="t4" name="t4" value="b" />
    <label for="t4">Dexansoprasol</label>
  </div>
  <div>
    <input type="radio" id="t4" name="t4" value="c" />
    <label for="t4">Debeverina </label>
  </div>
  <div>
    <input type="radio" id="t4" name="t4" value="d" />
    <label for="t4">Domperidona </label>
  </div>



</fieldset>
          <button class="btn btn-success btn-block" style="background-color: #e31e4d;">
            Aceptar
          </button>
        </form>
      </div>
    </div>
    <br><br>
  </div>
</div>
</div>